# Database & Archives
db.sqlite3

# Django
media/
staticfiles/
__pycache__/
*.pyc

# Envs & IDE
.venv/
.env
.vscode/
.idea

# Django settings (if sensitive)
core/settings.py

school_project.git/

core/settings_local.py
.gitignore